.main-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container > div{
  box-shadow: 0 0 5px grey;
  padding: 12px;
  border-radius: 4px;
}